<header class="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('admin_index') }}">
                <img src="{{ asset('images/others/profile.webp') }}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_index') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cv_index') }}">CV</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a role="button" class="btn" href="{{ path('portfolio_index') }}">Portfolio</a>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            {% set displayed_activity_names = [] %}

                            {% set formation_header_displayed = false %}
                            {% for project in projects %}
                                {% if project.activity.type.name == 'Formation' and project.activity.name not in displayed_activity_names %}
                                    {% if not formation_header_displayed %}
                                        <li><a class="dropdown-item disabled" aria-disabled="true" href="#">Projets de formation</a></li>
                                        {% set formation_header_displayed = true %}
                                    {% endif %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path('portfolio_index_with_activity', { activityId: project.activity.id }) }}">
                                            {{ project.activity.name }}
                                        </a>
                                    </li>
                                    {% set displayed_activity_names = displayed_activity_names | merge([project.activity.name]) %}
                                {% endif %}
                            {% endfor %}

                            {% set experience_header_displayed = false %}
                            {% for project in projects %}
                                {% if project.activity.type.name == 'Expérience' and project.activity.name not in displayed_activity_names %}
                                    {% if not experience_header_displayed %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item disabled" aria-disabled="true" href="#">Expériences professionnelles</a></li>
                                        {% set experience_header_displayed = true %}
                                    {% endif %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path('portfolio_index_with_activity', { activityId: project.activity.id }) }}">
                                            {{ project.activity.name }}
                                        </a>
                                    </li>
                                    {% set displayed_activity_names = displayed_activity_names | merge([project.activity.name]) %}
                                {% endif %}
                            {% endfor %}

                            {% set independent_header_displayed = false %}
                            {% for project in projects %}
                                {% if project.activity.type.name == 'Indépendant' and 'Indépendant' not in displayed_activity_names %}
                                    {% if not independent_header_displayed %}
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item disabled" aria-disabled="true" href="#">Autres projets</a></li>
                                        {% set independent_header_displayed = true %}
                                    {% endif %}
                                    <li>
                                        <a class="dropdown-item" href="{{ path('portfolio_index_with_activity', { activityId: project.activity.id }) }}">
                                            Indépendant
                                        </a>
                                    </li>
                                    {% set displayed_activity_names = displayed_activity_names | merge(['Indépendant']) %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact_index') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>